:root {
    --main-background-color: #083344;
    --header-background-color: #164e63;
    --footer-background-color: #164e63;
    --project-background-color: #0e7490;
    --todo-background-color: #0e7490;
    --slide-menu-background-color: #164e63;
    --drag-over-background-color: #172554;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 800px;

    background-color: var(--main-background-color);
    color: #fafaf9;
    font-size: 1.5rem;
    height: 100%;
    overflow: auto;
}

.header {
    background-color: var(--header-background-color);
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.623);
    max-height: 10vh;
}

.app-name {
    display: flex;
    gap: 0.5rem;
}

.logo {
    max-width: 50px;
}

.main-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.back-img {
    display: none;
    max-width: 40px;
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(262deg) brightness(110%) contrast(100%);
}

.main-menu-img {
    display: none;
    max-width: 44px;
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(262deg) brightness(110%) contrast(100%);
}

.main-content {
    flex-grow: 5;
}

.projects-container {
    align-self: flex-start;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.projects-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 2rem;
}

.project-form input {
    min-width: 12rem;
    min-height: 1.5rem;
    font-size: 1rem;
}

.todo-form input {
    min-width: 12rem;
    min-height: 1.5rem;
    font-size: 1rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.project {
    position: relative;
    min-height: 90px;
    min-width: 140px;
    background-color: var(--project-background-color);
    border: 2px solid white;
    text-shadow: 3px 5px 5px #1f2937;
    text-align: center;
    box-shadow: 3px 5px 5px #1f29378b;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.project * {pointer-events: none;}

.project.over {
    background-color: var(--drag-over-background-color);
}

.todo-container {
    align-self: flex-start;
    padding: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.todo-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.newTodo {
    font-size: 1rem;
    appearance: none;
    background-color: #fafaf9;
    border-style: none;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    color: #1f2937;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 100px;
    max-width: 100px;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.newTodo:disabled {
    pointer-events: none;
}

.newTodo:hover {
    color: #fff;
    background-color: #f87171;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.newTodo:active {
    box-shadow: none;
    transform: translateY(0);
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.todo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--todo-background-color);
    border: 2px solid white;
    box-shadow: 3px 5px 5px #1f29378b;
    min-height: 3rem;
    text-shadow: 3px 5px 5px #1f2937;
    min-width: 20rem;
    padding: 0.5rem;
    overflow: hidden;
}

.todo * {pointer-events: none;}

.todo-checkbox {pointer-events: all;}

.todo.over {
    background-color: var(--drag-over-background-color);
}

.todo.checked.over {
    background-color: var(--drag-over-background-color);
}

.todo.checked {
    background-color: grey;
    text-decoration: line-through;
}

.todo-name {
    flex-grow: 3;
}

.due-date {
    flex-grow: 1;
    text-align: end;
    display: none;
}

.footer {
    background-color: var(--footer-background-color);
    flex-grow: 0.1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-self: center;
    text-align: center;
    font-size: 1rem;
    width: 100%;
}

.footer-text {
    align-self: flex-end;
}

input[type='checkbox'] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 2em;
    height: 2em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type='checkbox']::before {
    content: "";
    width: 1.3em;
    height: 1.3em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #1f2937;
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.checkbox-control {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1.5em;
}

.slideMenu-container-todo {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: var(--slide-menu-background-color);
    right: -30%;
    transition: all 0.2s ease;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.slideMenu-container-todo.open {
    right: 0%;
}

.slideMenu-container-proj {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: var(--slide-menu-background-color);
    right: -60%;
    transition: all 0.2s ease;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.slideMenu-container-proj.open {
    right: 0%;
}

.slideMenu-img {
    max-width: 44px;
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(262deg) brightness(110%) contrast(100%);
    cursor: pointer;
    pointer-events: all;
}

.slideMenu-img:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.slideMenu-img:active {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.slideMenu-btn-del {
    width: 40px;
    height: 40px;
}

.slideMenu-btn-edit {
    width: 40px;
    height: 40px;
}